
<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-5">
      <div class="form_group">
        <%= form.label :title %>
        <%= form.text_field :title, placeholder: "Write down your bug(need:必須)", class: "form-control" %>
      </div>

      <div class="article-tags-field form_group">
        <%= form.label "categories" %>
        <ul id="article-tags"></ul>
      </div>

      <div class="form_group">
        <%= form.label :error_name %>
        <%= form.text_field :error_name,placeholder: "Tell us more about your error!(need:必須)", class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :factor %>
        <%= form.text_area :factor, placeholder: "Tell us more about your error!(Markdown)(need:必須)", rows: 15, class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :reference %>
        <%= form.text_field :reference, placeholder: "ex) https://qiita.com/xxxxx/xxxxxx", class: "form-control" %>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="form_group">
        <%= form.label :introduction %>
        <%= form.text_area :introduction, placeholder: "Tell us more about your error!(Markdown)(need:必須)", rows: 14, class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :result %>
        <%= form.text_area :result, placeholder: "Tell us more about your error!(Markdown)(need:必須)", rows: 12, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9"></div>

    <div class="col-sm-3">
      <div class="actions">
        <%= form.submit "Create" ,name:"button1",class: 'btn btn-default sideby' %>
        <%= form.submit "Keep" ,name:"button2",class: 'btn btn-default sideby' %>
<!--         <%= link_to 'Back', articles_path,class: 'btn btn-default sideby' %> -->
      </div>
    </div>
    <% end %>
  </div>