
<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= article.errors.count %>件のエラーが発生しました <!-- prohibited this article from being saved -->:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-5">
      <div class="form_group">
        <%= form.label :title, "実装内容(必須)" %>
        <%= form.text_field :title, placeholder: "ex)タグ検索機能追加", class: "form-control" %>
      </div>

      <div class="article-tags-field form_group">
        <%= form.label :categories,"言語" %>
        <ul id="article-tags"></ul>
      </div>

      <div class="form_group">
        <%= form.label :error_name, "エラー表記(必須)" %>
        <%= form.text_field :error_name,placeholder: "ex)NoMethodError", class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :factor,"原因(必須)" %>
        <%= form.text_area :factor, placeholder: "マークダウン方式にて記入", rows: 15, class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :reference,"参考URL" %>
        <%= form.text_field :reference, placeholder: "ex) https://qiita.com/xxxxx/xxxxxx", class: "form-control" %>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="form_group">
        <%= form.label :introduction,"実装方法(必須)" %>
        <%= form.text_area :introduction, placeholder: "マークダウン方式にて記入", rows: 14, class: "form-control" %>
      </div>

      <div class="form_group">
        <%= form.label :result,"解決方法(必須)" %>
        <%= form.text_area :result, placeholder: "マークダウン方式にて記入", rows: 12, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9"></div>

    <div class="col-sm-3">
      <div class="actions">
        <%= form.submit "保存" ,name:"button1",class: 'btn btn-default sideby' %>
        <%= form.submit "一時保存" ,name:"button2",class: 'btn btn-default sideby' %>
        <%= link_to '戻る', articles_path,class: 'btn btn-default sideby' %>
      </div>
    </div>
    <% end %>
  </div>