<!-- <p id="notice"><%= notice %></p>
 -->
<div class="container">
  <div class="row">
    <div class="category-link">
    <% unless @article.categories.blank? %>
       <!-- <ul> -->クリック! -->
      <% @article.categories.each do |category| %>
<!--       <li> -->
        <%= link_to category.category_name,articles_path(category_id:category.id),class: 'btn btn-default sideby' %>
<!--       </li> -->
      <% end %>
<!--     </ul> -->
    <% end %>
  </div>

    <div class="row article_show">
    <div class="col-sm-5">
      <div class="form_text">
        <strong>実装内容:</strong>
        <p><%= @article.title %></p>
      </div>

      <div class="form_text">
        <strong>エラー表記:</strong>
        <p><%= @article.error_name %></p>
      </div>

      <div class="form_text">
        <strong>参考URL:</strong>
        <p><%= @article.reference %></p>
      </div>

      <div class="form_area">
        <strong>原因:</strong>
<!--         <%= @article.factor %> -->
        <%= markdown(@article.factor).html_safe %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form_area">
        <strong>実装方法:</strong>
<!--         <%= @article.introduction %> -->
        <%= markdown(@article.introduction).html_safe %>
      </div>

      

      <div class="form_area">
        <strong>解決方法:</strong>
<!--         <%= @article.result %> -->
        <%= markdown(@article.result).html_safe %>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <strong>コメント:</strong>
        <%= @article.comments.count %>
      <div class="comment-form">
        <%= form_for [@article, @comment] do |f| %>
        <%= f.text_area :comment, size: "50x5" %>
        <%= f.submit '送信',class: 'btn btn-default sideby' %>
        <% end %>
      </div>

      
      
      </div>

      <div class="col-sm-5">
        <table>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= link_to user_path(comment.user), class: "user_#{comment.user.id}" do %>
              <%= attachment_image_tag comment.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", class: "comment_image", style: " text-align: center;" %><br>
              <%= comment.user.name %><% end %></td>

          <td><%= comment.comment %></td>

          <% unless current_user != comment.user %>
          <td><%= link_to '削除', article_comments_path(comment.id),class: 'btn btn-default sideby', method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </table>

      
    </div>
  </div>
</div>


<%= link_to "記事一覧", articles_path %> |
<%= link_to 'マイページ', user_path(current_user) %>
