<div class="container mypage">
  <div class="row">

<h2>User info</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
  <h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- エラーメッセージ表示-->

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :name, class: "name" %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= f.attachment_field :profile_image, class: "user_image" %>
</div>

<div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, class: "email" %>
  </div>

<div class="actions get-button">
    <%= f.submit "編集内容を保存する" ,class: 'btn btn-default sideby' %>
  </div>

<% end %>
</div>
</div>