<div class="container mypage">
	<div class="row">
		<%= render 'users/profile', user: @user %>
	</div>

	<div class="row mypage-visual">
		<% if user_signed_in? %>
			<div class="search-form" style=" text-align: center;">
				<%= form_tag(search_path, method: :get) do %>
				<%= text_field_tag 'search[content]' %>
				<%= select_tag 'search[model]',options_for_select({ "ユーザー" => "user", "記事" => "articles" }) %>
				<%= submit_tag '検索' %>
				<% end %>
			<% end %>
			</div>
	</div>

	<div class="row">
		<table>
			<thead>
				<tr>
					<th>実装内容</th>
					<th>エラー表記</th>
					<th>言語</th>
					<th colspan="2"></th>
					<th>
						<% if @user.id == current_user.id %>
			<%= link_to "記録する", new_article_path, class: "btn btn-default glyphicon glyphicon-pencil" %>
			<% end %></th>
				</tr>
			</thead>
				<% @articles.each do |article| %>
			<tbody>
				<tr>
					<td><%= link_to article.title, article, class: "article_#{article.id}" %></td>
					<td><%= article.error_name %></td>
					<td><%= article.categories.pluck(:category_name).join(",") %></td>

					<td>
						<% if article.is_completed == true %>
							投稿済み
						<% else %>
							一時保存中
						<% end %>
					</td>
					<% if @user.id == current_user.id %>
					<td><%= link_to '編集', edit_article_path(article), class: "btn btn-default sideby" %></td>
					<td><%= link_to "削除",article, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-default destroy_article_#{article.id}" %></td><% end %>
					<td></td>
					<td></td>
				</tr>
			</tbody>

			<% end %>
		</table>
		<%= paginate @articles %>
	</div>
</div>
